<ul class='sideMenu'>
	
	<% for(var i in List){ %>
		<li><a <%= List[i].RenderData.Title=== Title ? 'class=current' :'' %>  href='<%= List[i].NameHTML %>'><%= List[i].RenderData.Title %></a></li>
	<% } %>
	
</ul>