<article class='team'>
	<header class='team_header'>
		<h1><%= Title %></h1>
	</header>
	<div class='team_body'>
		<%- Content %>		
	</div>
	<footer class='team_footer'>
		<div class="pagination">
			<%- List_Prev %>
			<%- List_Next %> 	 	
		</div>		
	</footer>
</article>
